<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="EndpointBehavior0">
                    <webHttp helpEnabled="true" />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="MetadataBehavior0">
                    <serviceMetadata httpsGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServiceRest_145_TendiDarisman.TI_UMY">
                <endpoint behaviorConfiguration="EndpointBehavior0" binding="webHttpBinding"
                    bindingConfiguration="" contract="ServiceRest_145_TendiDarisman.ITI_UMY" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1907" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>